<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        function onClickBtn(event) {
            event.preventDefault();
            const url = this.href;
            const countSpan = this.querySelector("span.js-likes");
            const icone = this.querySelector("i");
            axios.get(url).then(function (response) {
                countSpan.textContent = response.data.likes;
                if (icone.classList.contains('fas')) {
                    icone.classList.replace('fas', 'far')
                }else {
                    icone.classList.replace('far', 'fas')
                }
            }).catch(function (error) {
                if(error.response.status ===403){
                   alert("Vous devez etre connecter pour Liker ")
                    window.location.replace("http://127.0.0.1:8000/login");
                }
            }).then(function () {
                if(error.response.status ===500) {
                    alert("Une erreur est survenue merci de reessayer plutard ")
                }
            });
        }

        document.querySelectorAll("a.btn-link").forEach(function (link) {
            link.addEventListener("click", onClickBtn)
        })
    </script>
{% endblock %}
</body>
</html>